.button_new_connect {
    -fx-background-image: url("../icon/edit_add.png");
    -fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center
}

.button_delete_connect {
    -fx-background-image: url("../icon/edit_remove.png");
    -fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center
}

.button_flush_connect {
    -fx-background-image: url("../icon/reload.png");
    -fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center
}

.button_settings_connect {
    -fx-background-image: url("../icon/advancedsettings.png");
    -fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center
}

.button_send_packet {
    -fx-background-image: url("../icon/run.png");
    -fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center
}

.button_accept {
    -fx-background-image: url("../icon/apply.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position:25;
}

.button_exit {
    -fx-background-image: url("../icon/button_cancel.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position:25
}

.jfx-tab-pane .tab:selected {
    /*-fx-background-image: url("../icon/input_devices_settings.png");*/
    /*-fx-background-size: 16 16;*/
    /*-fx-background-position:bottom;*/
    /*-fx-background-repeat: no-repeat*/
    -fx-background-color: #d7efff; /* When this */
}

.jfx-tab-pane .tab-label {
    -fx-text-fill: #000;
    -fx-font-weight: normal; /* And this,
                                are both used in style,
                                they're causing this bug */
}
